{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Learning Log</title>

  {% bootstrap_css %}
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'culinary_recipes:index' %}">Home</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'culinary_recipes:ingredients' %}">Ingredients</a></li>
  </ul>
    </div>
</nav>
<main role="main" class="container">
  <div class="pb-2 mb-2 border-bottom">
    {% block page_header %} {% endblock page_header %}
  </div>
  <div>
    {% block content %}{% endblock content %}
  </div>
</main>

</body>
</html>